.p1{
    position:absolute;
    width:150px;
    height: 50px;
    background: rgb(0,0,0);
    top: 50px;
    left:300px;
}
.p2{
    position:absolute;
    width:100px;
    height: 50px;
    background: rgb(0,0,0);
    top: 100px;
    left:200px;
}
.p3{
    position:absolute;
    width:150px;
    height: 50px;
    background: rgb(255,0,0);
    top: 100px;
    left:300px;
}
.p4{
    position:absolute;
    width:100px;
    height: 50px;
    background: rgb(0,0,0);
    top: 100px;
    left:450px;
}
.p5{
    position:absolute;
    width: 50px;
    height: 50px;
    background: rgb(0,0,0);
    top: 150px;
    left:150px;
}
.p6{
    position:absolute;
    width:350px;
    height: 50px;
    background: rgb(255,0,0);
    top: 150px;
    left: 200px;
}
.p7{
    position:absolute;
    width:50px;
    height: 50px;
    background: rgb(0,0,0);
    top: 150px;
    left:550px;
}
.p8{
    position:absolute;
    width:300px;
    height: 50px;
    background: rgb(0,0,0);
    top: 200px;
    left:100px;
}
.p9{
    position:absolute;
    width: 150px;
    height: 50px;
    background: rgb(255,0,0);
    top: 200px;
    left:400px;
}
.p10{
    position:absolute;
    width:50px;
    height: 50px;
    background: rgb(0,0,0);
    top: 200px;
    left: 550px;
}.p11{
    position:absolute;
    width:150px;
    height: 50px;
    background: rgb(0,0,0);
    top: 250px;
    left:100px;
}
.p12{
    position:absolute;
    width:50px;
    height: 50px;
    background: rgb(0,176,240);
    top: 250px;
    left:150px;
}
.p13{
    position:absolute;
    width:100px;
    height: 50px;
    background: rgb(255,255,255);
    top: 250px;
    left:200px;
}
.p14{
    position:absolute;
    width:100px;
    height: 50px;
    background: rgb(0,176,240);
    top: 250px;
    left:300px;
}
.p15{
    position:absolute;
    width: 50px;
    height: 50px;
    background: rgb(0,0,0);
    top: 250px;
    left:400px;
}
.p16{
    position:absolute;
    width:150px;
    height: 50px;
    background: rgb(255,0,0);
    top: 250px;
    left: 450px;
}
.p17{
    position:absolute;
    width:50px;
    height: 50px;
    background: rgb(0,0,0);
    top: 250px;
    left:600px;
}
.p18{
    position:absolute;
    width:50px;
    height: 50px;
    background: rgb(0,0,0);
    top: 300px;
    left:50px;
}
.p19{
    position:absolute;
    width: 50px;
    height: 50px;
    background: rgb(0,176,240);
    top: 300px;
    left:100px;
}
.p20{
    position:absolute;
    width:150px;
    height: 50px;
    background: rgb(255,255,255);
    top: 300px;
    left: 150px;
}
.p21{
    position:absolute;
    width:100px;
    height: 50px;
    background: rgb(0,176,240);
    top: 300px;
    left:300px;
}
.p22{
    position:absolute;
    width:50px;
    height: 50px;
    background: rgb(191,191,191);
    top: 300px;
    left:400px;
}
.p23{
    position:absolute;
    width:50px;
    height: 50px;
    background: rgb(0,0,0);
    top: 300px;
    left:450px;
}
.p24{
    position:absolute;
    width:100px;
    height: 50px;
    background: rgb(255,0,0);
    top: 300px;
    left:500px;
}
.p25{
    position:absolute;
    width: 150px;
    height: 50px;
    background: rgb(0,0,0);
    top: 300px;
    left:600px;
}
.p26{
    position:absolute;
    width:50px;
    height: 50px;
    background: rgb(0,0,0);
    top: 350px;
    left: 50px;
}
.p27{
    position:absolute;
    width:250px;
    height: 50px;
    background: rgb(0,176,240);
    top: 350px;
    left:100px;
}
.p28{
    position:absolute;
    width:100px;
    height: 50px;
    background: rgb(191,191,191);
    top: 350px;
    left:350px;
}
.p29{
    position:absolute;
    width: 50px;
    height: 50px;
    background: rgb(0,0,0);
    top: 350px;
    left:450px;
}
.p30{
    position:absolute;
    width:100px;
    height: 50px;
    background: rgb(255,0,0);
    top: 350px;
    left: 500px;
}
.p31{
    position:absolute;
    width:50px;
    height: 50px;
    background: rgb(0,0,0);
    top: 350px;
    left:600px;
}
.p32{
    position:absolute;
    width:100px;
    height: 50px;
    background: rgb(255,0,0);
    top: 350px;
    left:650px;
}
.p33{
    position:absolute;
    width:50px;
    height: 50px;
    background: rgb(0,0,0);
    top: 350px;
    left:750px;
}
.p34{
    position:absolute;
    width:50px;
    height: 50px;
    background: rgb(0,0,0);
    top: 400px;
    left:100px;
}
.p35{
    position:absolute;
    width: 250px;
    height: 50px;
    background: rgb(191,191,191);
    top: 400px;
    left:150px;
}
.p36{
    position:absolute;
    width:50px;
    height: 50px;
    background: rgb(0,0,0);
    top: 400px;
    left: 400px;
}
.p37{
    position:absolute;
    width:100px;
    height: 50px;
    background: rgb(255,0,0);
    top: 400px;
    left:450px;
}
.p38{
    position:absolute;
    width:50px;
    height: 50px;
    background: rgb(192,0,0);
    top: 400px;
    left:550px;
}
.p39{
    position:absolute;
    width: 50px;
    height: 50px;
    background: rgb(0,0,0);
    top: 400px;
    left:600px;
}
.p40{
    position:absolute;
    width:100px;
    height: 50px;
    background: rgb(255,0,0);
    top: 400px;
    left: 650px;
}
.p41{
    position:absolute;
    width:50px;
    height: 50px;
    background: rgb(0,0,0);
    top: 400px;
    left:750px;
}
.p42{
    position:absolute;
    width:300px;
    height: 50px;
    background: rgb(0,0,0);
    top: 450px;
    left:100px;
}
.p43{
    position:absolute;
    width:150px;
    height: 50px;
    background: rgb(255,0,0);
    top: 450px;
    left:400px;
}
.p44{
    position:absolute;
    width:50px;
    height: 50px;
    background: rgb(192,0,0);
    top: 450px;
    left:550px;
}
.p45{
    position:absolute;
    width: 50px;
    height: 50px;
    background: rgb(0,0,0);
    top: 450px;
    left:600px;
}
.p46{
    position:absolute;
    width:100px;
    height: 50px;
    background: rgb(192,0,0);
    top: 450px;
    left: 650px;
}
.p47{
    position:absolute;
    width:50px;
    height: 50px;
    background: rgb(0,0,0);
    top: 450px;
    left:750px;
}
.p48{
    position:absolute;
    width:50px;
    height: 50px;
    background: rgb(0,0,0);
    top: 500px;
    left:100px;
}
.p49{
    position:absolute;
    width: 350px;
    height: 50px;
    background: rgb(255,0,0);
    top: 500px;
    left:150px;
}
.p50{
    position:absolute;
    width: 100px;
    height: 50px;
    background: rgb(192,0,0);
    top: 500px;
    left: 500px;
}
.p51{
    position:absolute;
    width: 50px;
    height: 50px;
    background: rgb(0,0,0);
    top: 500px;
    left:600px;
}
.p52{
    position:absolute;
    width:100px;
    height: 50px;
    background: rgb(192,0,0);
    top: 500px;
    left:650px;
}
.p53{
    position:absolute;
    width:50px;
    height: 50px;
    background: rgb(0,0,0);
    top: 500px;
    left:750px;
}
.p54{
    position:absolute;
    width:50px;
    height: 50px;
    background: rgb(0,0,0);
    top: 550px;
    left:100px;
}
.p55{
    position:absolute;
    width: 50px;
    height: 50px;
    background: rgb(192,0,0);
    top: 550px;
    left:150px;
}
.p56{
    position:absolute;
    width:250px;
    height: 50px;
    background: rgb(255,0,0);
    top: 550px;
    left: 200px;
}
.p57{
    position:absolute;
    width:150px;
    height: 50px;
    background: rgb(192,0,0);
    top: 550px;
    left:450px;
}
.p58{
    position:absolute;
    width:50px;
    height: 50px;
    background: rgb(0,0,0);
    top: 550px;
    left:600px;
}
.p59{
    position:absolute;
    width: 100px;
    height: 50px;
    background: rgb(192,0,0);
    top: 550px;
    left:650px;
}
.p60{
    position:absolute;
    width:50px;
    height: 50px;
    background: rgb(0,0,0);
    top: 550px;
    left: 750px;
}
.p61{
    position:absolute;
    width:50px;
    height: 50px;
    background: rgb(0,0,0);
    top: 600px;
    left:100px;
}
.p62{
    position:absolute;
    width:450px;
    height: 50px;
    background: rgb(192,0,0);
    top: 600px;
    left:150px;
}
.p63{
    position:absolute;
    width:150px;
    height: 50px;
    background: rgb(0,0,0);
    top: 600px;
    left:600px;
}
.p64{
    position:absolute;
    width:50px;
    height: 50px;
    background: rgb(0,0,0);
    top: 650px;
    left:100px;
}
.p65{
    position:absolute;
    width: 100px;
    height: 50px;
    background: rgb(192,0,0);
    top: 650px;
    left:150px;
}
.p66{
    position:absolute;
    width:200px;
    height: 50px;
    background: rgb(0,0,0);
    top: 650px;
    left: 250px;
}
.p67{
    position:absolute;
    width:150px;
    height: 50px;
    background: rgb(192,0,0);
    top: 650px;
    left:450px;
}
.p68{
    position:absolute;
    width:50px;
    height: 50px;
    background: rgb(0,0,0);
    top: 650px;
    left:600px;
}
.p69{
    position:absolute;
    width: 50px;
    height: 50px;
    background: rgb(0,0,0);
    top: 700px;
    left:100px;
}
.p70{
    position:absolute;
    width:100px;
    height: 50px;
    background: rgb(192,0,0);
    top: 700px;
    left: 150px;
}
.p71{
    position:absolute;
    width:50px;
    height: 50px;
    background: rgb(0,0,0);
    top: 700px;
    left:250px;
}
.p72{
    position:absolute;
    width:50px;
    height: 50px;
    background: rgb(0,0,0);
    top: 700px;
    left:450px;
}
.p73{
    position:absolute;
    width:100px;
    height: 50px;
    background: rgb(192,0,0);
    top: 700px;
    left:500px;
}
.p74{
    position:absolute;
    width:50px;
    height: 50px;
    background: rgb(0,0,0);
    top: 700px;
    left:600px;
}
.p75{
    position:absolute;
    width: 100px;
    height: 50px;
    background: rgb(0,0,0);
    top: 750px;
    left:150px;
}
.p76{
    position:absolute;
    width:100px;
    height: 50px;
    background: rgb(0,0,0);
    top: 750px;
    left: 500px;
}